/*body giver alt body en bestemt form, 
de styrer alle de forskellige html filer, tjek om alle bliver brugt!*/
body {
    color: rgb(0, 0, 0);
    /* overflow-x: clip;
    height: 100%; */
    background-color: #ffffff !important;
    /* background-repeat: no-repeat; */
    /* padding: 0px !important  */
}

.container-fluid {
    padding-top: 12px !important; 
    padding-bottom: 12px !important;
}

/* den der giver kalenderen en skygge*/
.card {
    box-shadow: 0px 4px 8px 0px #000000 
}

 /* input { 
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    font-size: 16px;
    letter-spacing: 1px;
    width: 180px
}  */



::placeholder {
    color: rgb(0, 0, 0);
    /* opacity: 100 */
}

/* button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
} */

.datepicker {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border: none;
    padding: 10px !important;
    cursor: pointer 
}

 /* den der laver den lille kalender ved siden af placeholder */
.fa-calendar {
    color: #fff;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px;
} 

/* .datepicker-dropdown:after {
    border-bottom: 6px solid rgb(0, 0, 0)
} */

/* thead tr:nth-child(3) th {
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px
} */

 /* .dow, */
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important
} 
/* /
.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}  */

/* 

  .active {
    border-radius: 6px !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: rgb(0, 0, 0) !important
}   */


.disabled {
    color: #ff0000 !important
} 

.prev,
.next,
.datepicker-switch {
    /* border-radius: 0 !important; */
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(177, 129, 129) !important;
    /* opacity: 0.8 */
} 

/* den der gør at når man holder over disse markeres de yderligere*/
.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}

/* .cell {
    border: 100px solid #BDBDBD;
    border-radius: 1000px;
    margin: 200px;
    cursor: pointer
}

.cell:hover {
    border: 1px solid #78b381
}

.cell.select {
    background-color: #78b381;
    color: rgb(0, 0, 0)
} */



/* .form-label {
    background-color: black
}  */

.knap {
    width: 100px !important; 
    background-color: #8bbda5;
    color:rgb(0, 0, 0)
}

.knap:hover{
    background-color: #000000 !important;
    color:white
}


.knap1{
    background-color: #8bbda5;
    
}

.knap1:hover{
    background-color: #000000 !important;
    color:white
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

